<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<property name="hibernate.id.new_generator_mappings">false</property>

		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">0</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.timeout">0</property>
		<property name="hibernate.c3p0.maxConnectionAge">0</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">2</property>
		<property name="hibernate.c3p0.acquireRetryDelay">500</property>

		<property name="hibernate.transaction.coordinator_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

	</session-factory>
</hibernate-configuration>